<div class="content">
    <!--Panel Content-->
    <div class="page-content">
        <h1 class="page-title">Contributor Log In</h1>
        <div class="clearfix"></div>
        <div class="form-group">
          <label>You can only login if you are a contributor</label><br>
          <label>Teacher login coming soon...</label>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="edit-type-panel">
                <div class="row">
                    <div class="col-xs-12 col-md-6 form-left">
                        <div class="form-group">
                          <label>NAME</label>
                          <%= f.input :email, required: true, label: false, placeholder: "EMAIL", autofocus: true, input_html:{ class: 'form-control'} %>
                        </div>
                        <div class="form-group">
                          <label>PASSWORD</label>
                          <%= f.input :password, required: true, label: false, placeholder: "PASSWORD", input_html:{ class: 'form-control'} %>
                        </div>
                        <div class="form-group">
                          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                        </div>
                    </div>
                    <div class="col-xs-12">
                      <%= render "devise/shared/links" %>
                      <%= f.button :submit, "Log in", class: "btn btn-primary"%>
                    </div>
                </div>
        </div>
        <% end %>
    </div>
    <!--/.Panel Content-->
</div>
