<div class="content">
  <div class="page-content">
    <h1 class="page-title">Problem Types</h1>
    <div class="clearfix"></div>
    <div class="problem-types-panel">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center" style="width:50px;">#</th>
              <th>Name</th>
              <th style="width:120px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @types.each_with_index do |type, i| %>
            <tr>
              <td class="text-center"><%= i + 1 %></td>
              <td><%= type.name %></td>
              <td>
                <% if current_user.admin? %>
                  <!-- show -->
                  <%= link_to type, {class: 'btn btn-sm btn-info'} do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                  <!-- edit -->
                  <%= link_to edit_type_path(type), {class: 'btn btn-sm btn-info'} do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                  <!-- Destroy -->
                  <%= link_to type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="box-new-type">
        <%= link_to 'NEW TYPE', new_type_path, {class: 'btn btn-md btn-primary'} if current_user.admin? %>
      </div>
    </div>
  </div>
</div>
