<div class="content">
  <!--Panel Content-->
  <div class="page-content">
    <h1 class="page-title">New Type</h1>
    <div class="clearfix"></div>
    <%= simple_form_for(@type) do |f| %>
    <%= f.error_notification %>
    <div class="edit-type-panel">
        <div class="row">
          <div class="col-xs-12 col-md-6 form-left">
            <div class="form-group">
              <label>NAME</label>
              <%= f.input :name, label: false, input_html: {class: 'form-control'}%>
            </div>
          </div>
          <div class="col-xs-12">
            <%= f.button :submit , 'CREATE TYPE', class: 'btn btn-primary'%>
          </div>
          <div class="col-xs-12 button-navigation">
            <%= link_to 'SHOW', @type, {class: 'btn btn-info'} %>
            <%= link_to 'BACK', types_path, {class: 'btn btn-warning'} %>
          </div>
        </div>
    </div>
    <% end %>
  </div>
  <!--/.Panel Content-->
</div>
