<div class="content">
  <!--Panel Content-->
  <div class="page-content">
    <h1 class="page-title">Edit your profile</h1>
    <div class="clearfix"></div>
    <%= simple_form_for @user do |f| %>
    <div class="edit-profile-panel">
      <form action="#" class="form">
        <div class="row">
          <div class="col-xs-12 col-md-6 form-left">
            <div class="form-group">
              <label>FIRST NAME</label>
              <%= f.input :first_name, label: false, input_html: { class: 'form-control'} %>
            </div>
            <div class="form-group">
              <label>LAST NAME</label>
              <%= f.input :last_name, label: false, input_html: { class: 'form-control'} %>
            </div>
            <div class="form-group">
              <label>EMAIL</label>
              <%= f.input :email, label: false, input_html: { class: 'form-control'} %>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 form-right">
            <!-- <div class="form-group">
              <label for=""></label>
              <p class="form-control-static text-danger text- ">You must log in after changing password</p>
            </div> -->
            <div class="form-group">
              <label>PASSWORD</label>
              <%= f.input :password, placeholder: 'leave blank if not changing', input_html: { class: 'form-control'} %>
            </div>
            <div class="form-group">
              <label>PASSWORD CONFIRMATION</label>
              <%= f.input :password_confirmation, placeholder: 'leave blank if not changing', input_html: { class: 'form-control'} %>
            </div>
          </div>
          <div class="col-xs-12">
            <%= f.button :submit, 'UPDATE', class: "btn btn-primary" unless @edit %>
          </div>
        </div>
      </form>
    </div>
    <% end %>
  </div>
  <!--/.Panel Content-->
</div>
