<div class='row'>
  <div style='margin-bottom:20px;' class='eight columns'>
    <h2 style='display:inline;'> <%= @user.full_name %> </h2>
  </div>
  <div class='four columns'>
    <%= link_to 'Add Problem', new_project_path, class: 'button u-pull-right u-full-width' %>
    <% if current_user && current_user == @user %>
      <%= link_to "Edit Account", edit_user_path, class: 'button button-primary u-pull-right u-full-width' %>
    <% end %>
    <!-- dropdown container -->
    <div class="dropdown">

        <!-- trigger button -->
        <button class='u-full-width' style='margin-bottom:0;'>Other Stuff</button>

        <!-- dropdown menu -->
        <ul class="dropdown-menu">
            <li><%= link_to 'Standards', standards_path %></li>
            <li><%= link_to 'Problem Types', types_path %></li>
        </ul>
    </div>
  </div>
</div>
<hr>
<div class='row'>
  <div class='six columns text-center'>
    <h2> Drafts </h2>
    <hr>
    <ul>
      <% @user.projects_drafted.each do |project| %>
        <li><%= link_to project.name, project %></li>
      <% end %>
    </ul>
  </div>
  <div class='six columns text-center'>
    <h2> Published </h2>
    <hr>
    <ul>
      <% @user.projects_published.each do |project| %>
        <li><%= link_to project.name, project %></li>
      <% end %>
    </ul>
  </div>
</div>
<% unless Project.pending_review.empty? %>
  <div class='row'>
    <div class='twelve columns text-center'>
      <h2> Pending Review </h2>
      <hr>
      <ul>
        <% Project.pending_review.each do |project| %>
          <li><%= link_to project.name, project %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
