<%= simple_form_for @project, :html => { :multipart => true } do |f| %>
  <u><h5>The important stuff</h5></u>

  <div class='row'>
    <div class='twelve columns'>
        <%= f.input :status, label: 'Status', collection: Project::STATUSES.zip((0..2).to_a), input_html: { class: 'u-full-width' } %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.input :name, label: 'Name of Problem', input_html: { class: 'u-full-width' } %>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id} unless @edit %>
    </div>
    <div class="six columns">
      <%= f.input :type_id, collection: @types, label: 'Type of problem', input_html: { class: 'u-full-width' } %>
    </div>
  </div>
  <div class='row'>
    <div class='twelve columns'>
        <%= f.input :problem_statement, label: 'Problem Statement', placeholder: 'Give us the goods. What is the problem?', input_html: { class: 'u-full-width' } %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
        <%= f.input :author_name, label: 'Author Name', input_html: { class: 'u-full-width' } %>
    </div>
    <div class="six columns">
        <%= f.input :author_link, label: 'Author Link', placeholder: 'Optional link to author\'s blog or webpage.', input_html: { class: 'u-full-width' } %>
    </div>
  </div>
  <hr style="border-top:4px solid black;">
  <u><h5>The details</h5></u>
  <div class='row'>
    <div class='six columns'>
        <%= f.input :content, label: 'Hook', placeholder: 'What\'s the best way to get the audience on the edge of their seats?', input_html: { class: 'u-full-width' } %>
    </div>
    <div class='six columns'>
        <%= f.input :why, label: 'Why we love it?', input_html: { class: 'u-full-width' } %>
    </div>
  </div>
  <div class='row'>
    <div class='six columns'>
        <%= f.input :duration, input_html: { class: 'u-full-width' } %>
    </div>
    <div class='six columns'>
        <%= f.association :tags, input_html: { class: 'u-full-width chosen' } %>
    </div>
  </div>
  <div class='row'>
    <div class='six columns'>
        <%= f.association :standards, label_method: :code_and_category, input_html: { class: 'u-full-width chosen' } %>
    </div>
    <div class='six columns'>

    </div>
  </div>
  <hr style="border-top:4px solid black;">
  <u><h5>The other stuff</h5></u>
  <div class='row'>
    <div class='six columns'>
        <%= f.input :launch_method, input_html: { class: 'textarea u-full-width', rows: 8 } %>
    </div>
    <div class='six columns'>
        <%= f.input :teacher_moves, input_html: { class: 'textarea u-full-width', rows: 8 } %>
    </div>
  </div>
  <div class='row'>
    <div class='six columns'>
        <%= f.input :history, input_html: { class: 'textarea u-full-width', rows: 8 } %>
    </div>
    <div class='six columns'>
        <%= f.input :pathways, input_html: { class: 'textarea u-full-width', rows: 8 } %>
    </div>
  </div>
  <div class='row'>
    <div class='six columns'>
        <%= f.input :extensions, as: :text, input_html: { class: 'textarea u-full-width', rows: 8 } %>
    </div>
    <div class='six columns'>
        <%= f.input :hints, input_html: { class: 'textarea u-full-width', rows: 8 } %>
    </div>
  </div>
  <hr style="border-top:4px solid black;">
  <u><h5>Images and Resources</h5></u>
  <div class='row'>
    <%  if @project.featured_image_url %>
      <div class='six columns form-box'>
        <div class='text-center'>
        <%= image_tag(@project.featured_image_url, size: '200x200') %>
        </div>
        <%= f.input :remove_featured_image, as: :boolean, label: 'Remove Featured Image' %>
      </div>
    <% else %>
      <div class='six columns form-box'>
        <%= f.input :featured_image, as: :file, label: "Featured Image" %>
        <%= f.hidden_field :featured_image_cache %>
      </div>
    <% end %>
    <div class='six columns form-box'>
    <% if @project.project_attachments.first && !@project.project_attachments.first.id.nil? %>
        <ul>
          <% @project.project_attachments.each do |attachment| %>
            <li class="resource text-center"><%= image_tag attachment.resource_url(:thumb) %></li>
          <% end %>
        </ul>
    <% end %>
      <label>Add Resources</label>
      <%= f.simple_fields_for :project_attachments do |ff| %>
        <%= ff.input :project_attachment_type_id, label: 'Type', collection: ProjectAttachmentType.all %>
        <%= ff.input :resource, as: :file %>
        <% if ff.object.persisted? %>
          <%= ff.check_box :_destroy %>
          <%= ff.label :_destroy, "Destroy" %>
        <% end %>
      <% end %>
      </div>
  </div>
  <%= f.button :submit, 'Create!', class: 'button button-primary' unless @edit %>
  <%= f.button :submit, 'Update!', class: 'button button-primary' if @edit %>
<% end %>
