<%= simple_form_for @project, :html => { :multipart => true } do |f| %>
<div class="content">
  <div class="sidebar-left">
    <div class="box-status">
      <div class="form-group">
        <%= f.input :form_order, as: :hidden, input_html: {id: "form-order", value: f.object.form_order || "01"} %>
        <%= f.input :status, label: 'Status', collection: Project::STATUSES.zip((0..2).to_a), input_html: { class: 'form-control input-sm' } %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id} unless @edit %>
        <%= f.button :submit, 'SAVE', class: 'btn btn-primary', id: 'project-button' %>
      </div>
    </div>
    <div class="box-resources">
      <div class="title-container">
        <div class="title-icon">
          <i class="fa fa-file-text-o"></i>
        </div>
        <div class="title-caption">Resources</div>
      </div>
      <%= f.simple_fields_for :project_attachments do |builder| %>
      <%= builder.input :resource, as: :file , label: false, input_html: {class: "hidden" }%>
      <% end %>
      <div class="resource-drag-upload" id="resources-upload">
        <a class="upload-trigger" href="javascript:void(0);">
          <span id="attachment-holder"></span>
        </a>
      </div>
      <div class="resource-items">
        <div class="resource-items-title"><%= link_to_add_fields "Add Resource", f, :project_attachments %></div>
      </div>
    </div>
    <div class="box-tags">
      <div class="title-container">
        <div class="title-icon">
          <i class="fa fa-file-text-o"></i>
        </div>
        <div class="title-caption">Tags</div>
      </div>
      <div class="tags-container">
        <%= f.association :tags, input_html: { class: 'form-control chosen' } %>
      </div>
    </div>
  </div>
  <div class="panel-content">
    <div class="panel-green" id="important-stuff">
      <div class="panel-title-container">
        <div class="panel-icon">
          <i class="fa fa-star-o"></i>
        </div>
        <div class="panel-title">The Important Stuff</div>
      </div>
      <div class="image-content">
        <div class="image-content-caption">FEATURED IMAGE</div>

        <div class="image-container" id="important-stuff-upload">
          <% if f.object.featured_image_url %>
            <%= image_tag(@project.featured_image_url) %>
          <% end %>
            <%= f.input :featured_image, as: :file, label: false, input_html: { class: 'hidden' } %>
        </div>
        <div class="image-options">
          <div class="row">
            <div id="filename" class="col-xs-6 text-left">Filename.ext</div>
            <div class="col-xs-6 text-right action-links">
              <a class="upload-trigger" href="javascript:void(0);">
                <i class="fa fa-cloud-upload"></i>
              </a>
              <% if @edit && @project.featured_image_url %>
              REMOVE <%= f.check_box :remove_featured_image %>
             <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-content form-horizontal">
        <div class="form-group">
          <div class="col-xs-12 col-sm-6  form-field">
            <label>NAME OF PROBLEM</label>
            <%= f.input :name, label: false, input_html: { class: 'form-control' } %>
          </div>
          <div class="col-xs-12 col-sm-6  form-field">
            <label>TYPE OF PROBLEM</label>
            <%= f.association :type, label: false, input_html: { class: 'form-control' } %>
          </div>
          <div class="col-xs-12 col-sm-6  form-field">
            <label>CONTRIBUTOR NAME</label>
            <%= f.input :author_name, label: false, input_html: { class: 'form-control' } %>
          </div>
          <div class="col-xs-12 col-sm-6  form-field">
            <label>LINK TO AUTHOR’S PAGE</label>
            <%= f.input :author_link, label: false, input_html: { class: 'form-control' } %>
          </div>
          <div class="col-xs-12 col-sm-12  form-field">
            <label>PROBLEM STATEMENT</label>
            <%= f.input :problem_statement, label: false, input_html: { class: 'form-control resize-vertical' } %>
          </div>
          <!-- <div class="col-xs-12 col-sm-6  form-field">
            <label>HOOK</label>
            <%# f.input :content, label: false, input_html: { class: 'form-control' } %>
          </div>
        </div> -->
      </div>
    </div>

    <div class="draggable-panel panel-sortable">

      <div class="panel-blue" data-moveid="0">
        <div class="panel-title-container">
          <div class="panel-icon">
            <i class="fa fa-file-text-o"></i>
          </div>
          <div class="panel-title">The Details</div>
          <div class="drag-icon">
            <i class="fa fa-arrows"></i>
          </div>
        </div>
        <div class="form-content form-horizontal">
          <div class="form-group draggable-form-fields">
            <div class="col-xs-12 col-md-4 form-field full">
              <label>
                <span class="field-name">STANDARDS</span>
              </label>
              <%= f.association :standards, label: false, label_method: :code_and_category, input_html: { class: 'form-control-full chosen'} %>
            </div>
            <%= f.simple_fields_for :project_fields do |builder| %>
            <div class="col-xs-12 col-md-4 form-field full">
              <label>
                <span class="field-name" ><%= builder.input :name, label: false, input_html: { class: 'field-name', placeholder: "NEW TOPIC" },wrapper_html: { style: "display: inline"} %></span>
                <span class="inline-edit">
                  <div class="drag-icon-inner">
                    <i class="fa fa-arrows"></i>
                  </div>
                </span>
              </label>
              <%= builder.input :position, as: :hidden,input_html: { class: 'position' } %>
              <%= builder.input :content, label: false ,input_html: { class: 'form-control-full resize-vertical' }%>
              <i class="fa fa-plus-circle"></i><%= link_to_add_project_fields "ADD TOPIC", f, :project_fields %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="panel-yellow" data-moveid="1">
      <div class="panel-title-container">
        <div class="panel-icon">
          <i class="fa fa-file-text-o"></i>
        </div>
        <div class="panel-title">The Other Stuff</div>
        <div class="drag-icon">
          <i class="fa fa-arrows"></i>
        </div>
      </div>
      <div class="form-content form-horizontal">
        <div class="form-group draggable-form-fields">
          <%= f.simple_fields_for :project_other_fields do |builder| %>
          <div class="col-xs-12 col-md-4 form-field full">
            <label>
              <span class="field-name" ><%= builder.input :name, label: false, input_html: { class: 'field-name', placeholder: "NEW TOPIC" },wrapper_html: { style: "display: inline"} %></span>
              <span class="inline-edit">
                <div class="drag-icon-inner">
                  <i class="fa fa-arrows"></i>
                </div>
              </span>
            </label>
            <%= builder.input :position, as: :hidden, input_html: { class: 'position' }%>
            <%= builder.input :content, label: false ,input_html: { class: 'form-control-full resize-vertical' }%>
            <i class="fa fa-plus-circle"></i><%= link_to_add_project_fields "ADD TOPIC", f, :project_other_fields %></a>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="panel-grey">
  <div class="panel-title-container">
    <div class="panel-icon">
      <i class="fa fa-file-text-o"></i>
    </div>
    <div class="panel-title">The Slider</div>
    <div class="drag-icon">
      <i class="fa fa-arrows"></i>
    </div>
  </div>
  <div class="form-content form-horizontal">
    <%= f.simple_fields_for :slider_objects do |builder| %>
    <div class="slide-item">
      <%= builder.input :resource, as: :hidden  %>
      <div class="slide-image-caption">SLIDE</div>
      <div class="slide-image slide-upload">
        <% if builder.object.resource_url %>
          <%= image_tag builder.object.resource_url(:thumb) %>
        <% end %>
        <%= builder.input :resource, as: :file, label: false, input_html: { class: 'hidden' } %>
      </div>

      <div class="slide-caption-text">CAPTION</div>
      <div class="slide-caption-input">
        <%= builder.input :description, label: false, input_html: { class: 'form-control resize-vertical' } %>
      </div>

      <div class="slide-caption-text">ORDER</div>
      <div class="slide-caption-input">
        <%= builder.input :order, label: false %>
      </div>
      <% if @edit %>
      <div class="slide-caption-input">
        <%= builder.check_box :_destroy %>
        <%= builder.label :_destroy, "Remove" %>
      </div>
      <% end %>
    </div>
    <% end %>
    <%= link_to_add_slider "ADD IMAGE", f, :slider_objects %>
  </div>
</div>
</div>
</div>
<% end %>
