<div class='container' style='margin-top: 5%'>
  <div class="row">
    <div class='offset-by-ten two columns'>
      <%= link_to root_path do %>
        <%= image_tag('problems_icon_p.png', class: 'u-max-full-width', style: 'max-height:50px;') %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <h1>Create a Project</h1>
    </div>
  </div>
  <div class="row">
    <div class="five columns">
      <%= simple_form_for @project do |f| %>
        <%= f.input :name, label: 'Title', input_html: { class: 'u-full-width' } %>
        <%= f.input :content, input_html: { class: 'u-full-width' } %>
        <%= f.input :type_id, collection: Type.all, input_html: { class: 'u-full-width' } %>
        <%= f.input :why, input_html: { class: 'u-full-width' } %>
        <%= f.input :duration, input_html: { class: 'u-full-width' } %>
        <%= f.input :launch_method, input_html: { class: 'u-full-width' } %>
        <%= f.input :teacher_moves, input_html: { class: 'u-full-width' } %>
        <%= f.association :tags, input_html: { class: 'u-full-width chosen' } %>
        <%= f.button :submit, 'Create!' %>
      <% end %>
    </div>
  </div>
</div>