<div class='container'>
  <div class="row" style="margin-top:10%">
    <div class="twelve columns">
      <h1 style="display:inline;"> <%= @project.name %> </h1>
      <%= image_tag(@project.featured_image_url, class: 'u-pull-right', height: '150') %>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <p>
        <b>Problem Statement:</b><br/>
        <%= @project.problem_statement %>
      </p>
      <p>
        <b>Hook:</b><br/>
        <%= @project.content %>
      </p>
      <p>
        <b>History:</b><br/>
        <%= @project.history %>
      </p>
      <p>
        <b>Pathways:</b><br/>
        <%= @project.pathways %>
      </p>
      <p>
        <b>Pitfalls:</b><br/>
        <%= @project.pitfalls %>
      </p>
      <p>
        <b>Extensions:</b><br/>
        <%= @project.extensions %>
      </p>
      <p>
        <b>Hints:</b><br/>
        <%= @project.hints %>
      </p>
      <p>
        <b>Teacher Moves:</b><br/>
        <%= @project.teacher_moves %>
      </p>
      <p>
        <b>Resources:</b><br/>
        <% @project.project_attachments.each do |pa| %>
          <%= link_to pa.resource_url do %>
          <%= image_tag pa.resource_url(:thumb) %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>