<div class="content">
  <!--Panel Content-->
  <div class="page-content">
    <h1 class="page-title">Common Core State Standards</h1>
    <div class="clearfix"></div>
    <% if current_user.admin? %>
    <div class="box-download">
        <%= link_to standards_path(format: "csv"), {class: "btn btn-md btn-primary"} do %>
        <i class="fa fa-download"></i> CSV
        <% end %>
    </div>
    <% end %>
    <div class="ccss-import-panel">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center">Code</th>
              <th style="width:30%;">Category</th>
              <th>Sub-Category</th>
              <th style="width:100px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @standards.each do |standard| %>
            <tr>
              <td class="text-center"><%= standard.code %></td>
              <td><%= standard.category %></td>
              <td><%= standard.subcategory %></td>
              <% if current_user.admin? %>
              <td>
                <%= link_to standard, {class: "btn btn-sm btn-info"} do %>
                <i class="fa fa-eye"></i>
                <% end %>
                <%= link_to edit_standard_path(standard), {class: "btn btn-sm btn-info"} do %>
                <i class="fa fa-pencil"></i>
                <% end %>
              </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="box-import">
        <h1>Import Camp Offering</h1>
        <%= form_tag import_standards_path, multipart: true do %>
          <%= file_field_tag :file %><br />
          <%= button_tag(type: 'submit', class: 'btn btn-md btn-primary') do %>
          <i class="fa fa-upload"></i> IMPORT
          <% end %>
        <% end %>
    </div>
  </div>
</div>
