<div class='container' style='margin-top:5%'>
  <p>
    <strong>Code:</strong>
    <%= @standard.code %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @standard.category %>
  </p>

  <p>
    <strong>Subcategory:</strong>
    <%= @standard.subcategory %>
  </p>

  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_standard_path(@standard) %> |
  <% end %>
  <%= link_to 'Back', standards_path %>
</div>
