<div class="content">
  <!--Panel Content-->
  <div class="page-content">
    <!--<h1 class="page-title">Common Core State Standards</h1>-->
    <div class="clearfix"></div>
    <div class="box-ccss-show">
      <p class="text-row">
        <span class="text-bold">CODE:</span>
        <span class="text-regular"><%= @standard.code %></span>
      </p>
      <p class="text-row">
        <span class="text-bold">CATEGORY:</span>
        <span class="text-regular"><%= @standard.category %></span>
      </p>
      <p class="text-row">
        <span class="text-bold">SUBCATEGORY:</span>
        <span class="text-regular"><%= @standard.subcategory %></span>
      </p>
      <% if current_user.admin? %>
      <div class="row">
        <div class="col-xs-12 button-navigation">
          <%= link_to 'EDIT', edit_standard_path(@standard), {class: "btn btn-info"}%>
          <%= link_to 'BACK', standards_path, {class: "btn btn-warning"} %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
  <!--/.Panel Content-->
</div>
