<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @standard.code %>
</p>

<p>
  <strong>Category:</strong>
  <%= @standard.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @standard.subcategory %>
</p>

<%= link_to 'Edit', edit_standard_path(@standard) %> |
<%= link_to 'Back', standards_path %>
