<h1>Listing project_attachment_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_attachment_types.each do |project_attachment_type| %>
      <tr>
        <td><%= project_attachment_type.name %></td>
        <td><%= link_to 'Show', project_attachment_type %></td>
        <td><%= link_to 'Edit', edit_project_attachment_type_path(project_attachment_type) %></td>
        <td><%= link_to 'Destroy', project_attachment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project attachment type', new_project_attachment_type_path %>
