<!DOCTYPE html>
<html>
<head>
  <title>Problems</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
       inlineMath: [ ['$','$'] ],
       processEscapes: true
      },
      "HTML-CSS": {
        linebreaks: {
          automatic: false
        }
      }
    });
  </script>
  <%= mathjax_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |type, message| %>
    <div class="alert <%= alert_class_for(type) %> ">
      <%= message %>
    </div>
  <% end %>

  <%= render 'layouts/nav_bar' %>

  <%= yield %>

  <% if Rails.env.development? %>
    <div class='container'>
      <%= debug(params) %>
    </div>
  <% end %>

</body>
<footer>

  <%= render 'layouts/footer' %>

</footer>
</html>


